{
  "openapi": "3.0.0",
  "info": {
    "title": "Hiremotely Code Challenge API",
    "description": "Create and Retrieve Code Test",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://code.hiremotely.com/"
    }
  ],
  "paths": {
    "/test": {
      "post": {
        "tags": [
          "Coding Test"
        ],
        "summary": "Create Test in Test Collection",
        "parameters": [
          {
            "name": "technologies",
            "in": "query",
            "description": "Technologies which should be present in Test",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Technologies"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/test/{hash}": {
      "get": {
        "tags": [
          "Coding Test"
        ],
        "summary": "Returns application/json represention of Test",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "SHA256 hash of Test Document",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Test"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Technologies": {
        "type": "string",
        "description": "Supported technologies.",
        "enum": [
          "java",
          "javascript",
          "php"
        ]
      },
      "Question": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "description": "Question ID."
          },
          "snippets": {
            "type": "array",
            "description": "Array of Snippets.",
            "items": {
              "$ref": "#/components/schemas/Snippet"
            }
          },
          "testcases": {
            "type": "array",
            "description": "Array of TestCases.",
            "items": {
              "$ref": "#/components/schemas/TestCase"
            }
          }
        }
      },
      "Snippet": {
        "type": "object",
        "properties": {
          "technology": {
            "type": "string",
            "description": "Snippet code Technology.",
            "enum": [
              "java",
              "javascript",
              "php"
            ]
          },
          "code": {
            "type": "string",
            "description": "Snippet source code."
          }
        }
      },
      "TestCase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of Test Case."
          },
          "input": {
            "type": "string",
            "description": "Standard input for a program."
          },
          "expectedOutput": {
            "type": "string",
            "description": "Expected output of a program."
          }
        }
      },
      "Test": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string",
            "description": "SHA256 hash of Test Document."
          },
          "questions": {
            "type": "array",
            "description": "Array of Questions.",
            "items": {
              "$ref": "#/components/schemas/Test_questions"
            }
          }
        }
      },
      "CreateTestResponse": {
        "properties": {
          "hash": {
            "type": "string"
          }
        }
      },
      "TestQuestions": {
        "type": "array",
        "items": {
          "questionCopy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          },
          "questionId": {
            "type": "string",
            "description": "Id if Question Document"
          }
        },
        "example": null
      }
    }
  }
}